
    body {
        font-size: .875rem;
        background-color: rgb(230, 230, 230);
      }
      
      .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
      }

      .content {
        background-color: #ffffff;
        padding: 1.5rem;
      }

      main{
        padding-bottom: 1.5rem;
      }

      #drop{
        border:2px dashed #bbb;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        padding:25px;
        text-align:center;
        font:20pt bold,"Vollkorn";color:#bbb
      }
      /*
       * Pengawas Cek Projek
       */
      
       .btn[data-toggle="button"]{
        box-shadow: none;
        background-color : #333;
        border-color : rgb(27, 27, 27);
      }
      
      .tandai-pekerjaan.active{
        box-shadow: none !important;
        background-color : #FFC009 !important;
        border-color : rgb(218, 163, 0) !important;
        color :#272626 !important;
      }

      span.status-pekerjaan{
        font-size: medium;
        font-weight: normal;
        padding: 0.7em 0.6em;
      }
      /*
       * Sidebar
       */
      
      .sidebar {
        position: fixed;
        background-color: #333;
        width: 200px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 48px 0 0; /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(150, 137, 137, 0.1);
      }
      
      .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      }
      
      @supports ((position: -webkit-sticky) or (position: sticky)) {
        .sidebar-sticky {
          position: -webkit-sticky;
          position: sticky;
        }
      }
      
      .sidebar .nav-link {
        font-size: 15;
        font-weight: 400;
        color: #7e7e7e;
      }

      .sidebar .nav-link:hover {
        font-size: 15;
        font-weight: 400;
        color: #ffffff;
        background-color: #272626;
      }
      
      .sidebar .nav-link .feather {
        margin-right: 4px;
        color: rgb(255, 255, 255);
      }
      
      .sidebar .nav-link.active {
        font-weight: 600;
        border-left: 2px solid #FFC009;
        background-color: rgba(255, 193, 9, 0.199);
        color: #ffffff;
      }
      
      .sidebar .nav-link:hover .feather,
      .sidebar .nav-link.active .feather {
        color: #fff;
      }
      
      .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
      }
      
      /*
       * Navbar
       */
      
      .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
      }
      
      .navbar .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
      }
      
      .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
      }
      
      .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
      }

      .bg-warnaaa {
        background-color: #ffffff!important;
      }

      .btn-primary-logout {
        color: rgb(0, 0, 0);
        background-color: #e9e9e9;
        border-color: #000000;
        padding-left: 5px;
        padding-right: 5px;
      }

      .btn-logout {
        color: #ffffff;
        background-color: #545b62;
        border-color: #545b62;
        border-width: 1px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .btn-logout:hover{
        color: #ffffff;
      }

      /*
       * Breadcrumbs
       */

       nav[role="breadcrumb"] {
         padding-top: 60px;
       }

       .breadcrumb {
         border-radius: 0px;
         background-color: #ffffff;
       }

       /*
        *button register pengawas
        */
        .container-daftar-pengawas
        {
          display: inline-block;
          max-width: 900px;
        }

        .btn-daftar-pengawas {
          color: #0069d9;
          background-color: #ffffff;
          border-color: #0069d9;
          border-width: 2px;
        }

        .btn-daftar-pengawas:hover {
          color: #ffffff;
          background-color: #0069d9;
        }

        /*
        *profil owner
        */
        
        div.profil{
          width: 200px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          display: inline-block;
          text-align: center;
        }

        .container-profil-owner{
          display:"inline-block";
        }

        button.edit-foto{
          margin: 10px;
          background-color: #ffffff;
          border: none;
        }

        button.edit-foto:hover{
          color: #0069d9;
        }

        button.edit-data-profil{
          color: #545b62;
          background-color: #ffffff;
          border: none;
        }

        button.edit-data-profil:hover{
          color: #0069d9;
        }

        /*
        * Edit Proyek
        */

        div.data-pjproyek {
          width: 120px;
          height: 180px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          display: inline-block;
          text-align: center;
        }